body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(desktop-wallpaper-snake-game-cool-green-gaming.jpg);
    background-size:cover;
}
canvas{
    box-shadow: black 20px 10px 50px;
}
.btn{
    width: 7%;
    height: 100%;
    margin-bottom: 10%;
    font-size: 20px;
    color: white;
    height: 50px;
    width: 100px;
    background-color: #fe5152;
    border: 1px solid black;
    border-radius: 10px;
    cursor:pointer;
}
.back-button{
    font-size: 20px;
    color: white;
    position: absolute;
    height: 50px;
    width: 100px;
    margin-left: -40%;
    margin-top: 30px;
    background-color: #fe5152;
    border: 1px solid black;
    border-radius: 10px;
    cursor:pointer;
  }
  h1{
    color: white;
  }
